body {
    font-family: Roboto, sans-serif;
    color:#757575;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
    }

/*----------------header----------*/


.header-logo{
    font-family:Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:#000000;}

.header-logo:focus{
    outline-color: #2196F3;
}
.header-logo span{    
    color:#2196F3;
}

.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #212121;
}
.header-link:hover,
.header-link:focus{
    color: #2196F3;
    outline-color: #2196F3;
}


.header-email,
.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-email:focus,
.header-email:hover{
    color: #2196F3;
    outline-color: #2196F3;
}
.header-tel:focus,
.header-tel:hover{
    color: #2196F3;
    outline-color: #2196F3;
}
.current{color: #2196F3;}

/*---------------decision-----*/

.decision{
    width: 1600px;
    background: #2F303A;
}

.decision-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.decision-btn{
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.decision-btn:hover,
.decision-btn:focus{
    color: #FFFFFF;
    backgroundr:#e8183b;
    outline-color: #2196F3;
}

.decision-btn {
    cursor: pointer;
}

.features-subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.features-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.examples-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.features,
.examples{ background: #FFFFFF;}


.team-title{font-weight: 700;
    font-size: 36px;
    line-height: 1.17px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

.team{
    background: #F5F4FA;
}


.team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    
    }

.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    }



    /*-------portfolio------*/
.active-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

    /*------footer-----*/

.footer{
    background: #2F303A;
    }
.footer-logo{
    font-family:Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-logo:focus{
    outline-color: #2196F3;
}
.footer-logo span{    
    color:#2196F3;
}

.footer-map{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;}

.footer-email,
.footer-tel{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-email:focus,
.footer-email:hover{
    color: #2196F3;
    outline-color: #2196F3;
}
.footer-tel:focus,
.footer-tel:hover{
    color: #2196F3;
    outline-color: #2196F3;
}
.footer-map:focus,
.footer-map:hover{
    color: #2196F3;
    outline-color: #2196F3;}