:root {
    --first-title-color: #212121;
    --first-btn-color: #212121;
    --active-color:#2196F3;
    --accent-color:#757575;
}
body {
    font-family: Roboto, sans-serif;
    color:var(--accent-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
    }
/*----------------cap----------*/
.cap-logo{
    font-family:Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:#000000;}

.cap-logo:focus{
    outline-color: var(--active-color);
}
.cap-logo span{    
    color:var(--active-color);
}

.cap-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color:var(--first-title-color);
}
.cap-link:hover,
.cap-link:focus{
    color: var(--active-color);
    outline-color: var(--active-color);
}

.cap-email,
.cap-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color:var(--accent-color);
}

.cap-email:focus,
.cap-email:hover{
    color: var(--active-color);
    outline-color: var(--active-color);
}
.cap-tel:focus,
.cap-tel:hover{
    color: var(--active-color);
    outline-color: var(--active-color);
}
.current{color: var(--active-color);}

/*---------------decision-----*/

.decision{
    width: 1600px;
    background: #2F303A;
}

.decision-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.decision-btn{
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:1px solid #2F303A;
}

.decision-btn:hover,
.decision-btn:focus{
    color: #FFFFFF;
    outline-color: var(--active-color);
}

.decision-btn,
.filters-btn {
    cursor: pointer;
}

.features-subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-title-color);
}

.features-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--accent-color);
}
.examples-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
}

.features,
.examples{ background: #FFFFFF;}

.team-title{font-weight: 700;
    font-size: 36px;
    line-height: 1.17px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color);}

.team{
    background: #F5F4FA;
}

.team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color);   }

.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--accent-color);
    }

    /*-------portfolio------*/

.filters-btn{
    font-family:inherit;;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-btn-color);
    background: #F5F4FA;
    border-radius: 4px;
    border:1px solid #EEEEEE;
}

.filters-btn:hover,
.filters-btn:focus{
    font-family: inherit;;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: var(--active-color);
    outline-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;}

.services-title{
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--first-title-color);}

.services-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color:var(--accent-color);
}

/*------basement-----*/

.basement{
    background: #2F303A;
}
.basement-logo{
    font-family:Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.basement-logo:focus{
    outline-color: var(--active-color);
}
.basement-logo span{    
    color:var(--active-color);
}

.basement-map{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;}

.basement-email,
.basement-tel{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
}

.basement-email:focus,
.basement-email:hover{
    color: var(--active-color);
    outline-color: var(--active-color);
}
.basement-tel:focus,
.basement-tel:hover{
    color: var(--active-color);
    outline-color: var(--active-color);
}
.basement-map:focus,
.basement-map:hover{
    color: var(--active-color);
    outline-color: var(--active-color);}